uwsgi
pillow
psycopg2
boto
django
django-htmlmin
django_compressor
django-getenv
django-suit
django-allauth
django-fsm
django-fsm-admin
django-fsm-log
django-mptt
django-autoslug
django-wysiwyg-redactor
django-reversion
django-storages
django-localflavor
sorl-thumbnail
